<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434988569004-vg1jo285c24bq8aaj2efekrcjdvjlnth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434988569004-vg1jo285c24bq8aaj2efekrcjdvjlnth</string>
	<key>API_KEY</key>
	<string>AIzaSyBhFCeddNOJ6Zwr36rFl0kKHALmfxYepTc</string>
	<key>GCM_SENDER_ID</key>
	<string>434988569004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenkyu.csgocases</string>
	<key>PROJECT_ID</key>
	<string>csgocases-85eab</string>
	<key>STORAGE_BUCKET</key>
	<string>csgocases-85eab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434988569004:ios:2ff66e7e79fac4fb62aa09</string>
</dict>
</plist>